@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Scoped to the editor */
.tiptap {
  @apply bg-gray-100 rounded-md focus:outline-none;
  height: 400px;
  width: 100%;
  padding: 10px;
}

.bubble-menu {
  @apply bg-gray-500 rounded-md;
  border: 1px solid #ddd;
  display: flex;
  padding: 6px;

  button {
    background-color: unset;
    color: #fff;
    font-size: 14px;
    padding: 0 8px;
    @apply rounded-md;

    &:hover {
      @apply bg-gray-600;
    }

    &.is-active {
      background-color: var(--purple);

      &:hover {
        background-color: var(--purple-contrast);
      }
    }
  }
}

/* Floating menu */
.floating-menu {
  display: flex;
  background-color: var(--gray-3);
  padding: 0.1rem;
  border-radius: 0.5rem;

  button {
    background-color: unset;
    padding: 0.275rem 0.425rem;
    border-radius: 0.3rem;

    &:hover {
      background-color: var(--gray-3);
    }

    &.is-active {
      background-color: var(--white);
      color: var(--purple);

      &:hover {
        color: var(--purple-contrast);
      }
    }
  }
}
